<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%-5level] %c - %msg%n" />
        </Console>
        <RollingFile name="RollingFileAppender"
                     fileName="logs/app.log"
                     filePattern="logs/archive/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%-5level] %c - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="1000">
                <Delete basePath="logs/archive" maxDepth="1">
                    <IfFileName glob="app-*.log.gz" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>

        <Root level="warn">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="RollingFileAppender" /> <!-- ✅ 필수 -->
        </Root>
    </Loggers>
</Configuration>
